params
{
  //- CHANGE THESE VALUES according to your available resources
  //- and leave some for your system
  max_cpus = 22         //? number of CPU threads
  max_memory = '30GB'   //? available RAM

  // predefined parameters used in pipelines
  align = false
  DEG = false
  dmel = false
  dmau = false
  peakcalling = false
  pnrmotif = false
  motif = false
}

process {
  cpus = params.max_cpus
  maxForks = 1

  withLabel: 'half' {
    maxForks = 2
    memory = 15.GB    //- CHANGE ME to half your selected RAM
  }

  withLabel: 'third' {
    maxForks = 3
    memory = 10.GB    //- CHANGE ME to third your selected RAM
  }
}

executor {
  $local {
    cpus = params.max_cpus
    memory = params.max_memory
  }
}

docker.enabled = true
conda.enabled = true